#textdomain wesnoth-trow
[scenario]
    id=03x_The_Oldwood
    name= _ "The Oldwood"
    next_scenario=04_Temple_in_the_Deep
    map_file=03x_The_Oldwood.map
    victory_when_enemies_defeated=no
    {DEFAULT_SCHEDULE}
    {SCENARIO_MUSIC suspense.ogg}
    {EXTRA_SCENARIO_MUSIC nunc_dimittis.ogg}

    # No story part
    {TROW_GI_TRACK {JOURNEY_03X_NEW} }
    {TROW_DEATHS}

    [side]
        type=Noble Commander
        id=Prince Haldric
        name= _ "Prince Haldric"
        unrenamable=yes
        side=1
        gold=0
        canrecruit=yes
        controller=human
        team_name=Haldric
        user_team_name=_"Refugees"
        {FLAG_VARIANT loyalist}
    [/side]

    [side]
        side=2
        type=Shadow Lord
        id=Eravan
        name= _ "Eravan"
        canrecruit=yes
        team_name=Haldric
        user_team_name=_"Shadow Magi"
        [modifications]
            {TRAIT_DEXTROUS}
        [/modifications]
    [/side]

    [event]
        name=prestart

        {CLEAR_VARIABLE last_done,escape_choice}
        {PLACE_IMAGE (scenery/temple1.png) 19 10}
        {PLACE_IMAGE (scenery/castle-ruins3.png) 15 6}
        {PLACE_IMAGE (scenery/castle-ruins.png) 15 7}
        {PLACE_IMAGE (scenery/castle-ruins2.png) 17 6}
        {PLACE_IMAGE (scenery/castle-ruins3.png) 17 7}
        {PLACE_IMAGE (scenery/circle-magic.png) 16 6}
        {RECALL_SUPPORTER}

        [recall]
            id=Lady Outlaw
        [/recall]
        [recall]
            id=Burin the Lost
        [/recall]
        [recall]
            id=Sir Ruddry
        [/recall]
        [recall]
            id=Sir Ladoc
        [/recall]
        [recall]
            id=Minister Edren
        [/recall]
    [/event]

    [event]
        name=start
        [message]
            speaker=narrator
            message= _ "Haldric’s band finds itself at the heart of the Oldwood Forest. The road quickly narrows and becomes little more than a path. Branches reach high overhead, blocking almost all of the light... The ominous noises of the deep woods echo all around."
            image=wesnoth-icon.png
        [/message]
        [message]
            speaker=Burin the Lost
            message= _ "Will this evil forest ever end! There are mosquitoes as big as my fist in here, and these nasty old trees are giving me the creeps."
            image=portraits/burin-annoyed.webp
        [/message]
        [message]
            speaker=Lady Outlaw
            message= _ "This isn’t so bad. Haldric’s kind are such a suspicious lot when it comes to these sorts of things."
        [/message]
        [message]
            speaker=Prince Haldric
            message= _ "Quiet. Listen, I think I hear something."
        [/message]
        [message]
            speaker=Eravan
            message= _ "It appears we have some visitors. Perhaps Jevyan's orcs were able to track us down."
        [/message]
        [if]
            [variable]
                name=have_lady
                numerical_equals=1
            [/variable]
            [then]
                [message]
                    speaker=Lady Outlaw
                    message= _ "Haldric, these magi are practitioners of dark magic. However, they only utilize offensive spells and condemn necromancy. I've heard of such wizards serving Jevyan- perhaps we were not the only Wesfolk to abandon his leadership. We should consider parleying with them and forming an alliance."
                [/message]
                [message]
                    speaker=Prince Haldric
                    message= _ "I am not completely pleased with this idea, but it would be remiss to ignore the dire situation we face. At this point we need all of the help we can get!"
                [/message]
                [message]
                    speaker=Lady Outlaw
                    message= _ "Greetings, Eravan. I travel with Prince Haldric of Stormvale. We have formed an alliance in order to escape the orcs and secure a safe haven for both our peoples."
                [/message]
                [message]
                    speaker=Eravan
                    message= _ "Ah, I did not expect you to be here m'lady, it is good to see you are well. Prince Haldric, although we have been enemies in the past, now is not the time for quarrels. I have some pertinent information that can assist us in defending against these savage hordes."
                [/message]
            [/then]
            [else]
                [message]
                    speaker=Prince Haldric
                    message= _ "<span size='small'>They seem to be mages of some sort, but unlike any I have seen before. Come to think of it, father had mentioned the Wesfolk had wizards in their ranks that dressed in ebony robes and practised some form of black magic. \nPerhaps that Wesfolk woman from earlier was not the only one fleeing the orcs.</span>"
                    image=portraits/haldric-surprised.webp
                [/message]
                [message]
                    role=Supporter
                    message= _ "<span size='small'>Our men are weary after weeks of travel and may not be able to fight at full strength. It would be best if we could avoid a fight.</span>"
                [/message]
                [message]
                    speaker=Prince Haldric
                    message= _ "We are no orcs, nor do we have any association with this Jevyan. I am Prince Haldric of Stormvale, and we were forced to abandon our home after it was overrun by orcs. I am curious as to what Wesfolk are doing this deep in the Oldwood..."
                [/message]
                [message]
                    speaker=Eravan
                    message= _ "Although we have been enemies in the past, I believe now is not the time for quarrels, Prince Haldric. Lord Jevyan was the leader of us Wesfolk. When the Crown Prince of Southbay attacked us, he made the decision to open the Western Gates, which led to the orcish menace that now threatens us all, be it Wesfolk or Iselfolk."
                [/message]
                [message]
                    speaker=Prince Haldric
                    message= _ "I heard as much from a previous Wesfolk brigand we had encountered earlier. It appears your leader took on more than he could handle."
                [/message]
                [message]
                    speaker=Eravan
                    message= _ "That may be true- at first we assumed he had done so for our safety. However, it became apparent with his actions that he had no concern for us and intended to use the Crown Prince's actions as justification to take over the entire Green Isle, regardless of the harm that befell his own people. As I see it now, he has become an egotistical tyrant bent on shaping the world in his own image, even if what remains to rule over is nothing but a barren wasteland. \n I implore you to look past our differences and consider the benefits of an alliance."
                [/message]
                [message]
                    speaker=Prince Haldric
                    message= _ "While I cannot say I am pleased to associate with ones who were once sworn enemies, the current situation is less than ideal, so compromises must be made. What can you offer us in exchange for our support?"
                [/message]
            [/else]
        [/if]
        [message]
            speaker=Eravan
            message= _ "In a war some time ago, one of your kings trapped one of leaders, Lich-Lord Lenvan, in the catacombs of the temple at the heart of the Oldwood. Rather recently, we found a means to break the seal and enter the temple."
        [/message]
        [message]
            speaker=Prince Haldric
            message= _ "And how does this benefit us?"
        [/message]
        [message]
            speaker=Eravan
            message= _ "Lord Lenvan was carrying a powerful artifact. This artifact may help us in pushing back the orcs and possibly defeating Jevyan as well. However, years of being trapped underground would have likely taken a toll on his mental fortitude and he may be unable to understand or reason with even his own people, which means we must be prepared to fight."
        [/message]
        [message]
            speaker=Lady Outlaw
            # wmllint: directory spelling Lenvan
            message= _ "Eravan must mean the Ruby of Fire. It was our most powerful artifact. We brought it with us from the Old Continent, long ago. We thought it was lost in the war with your people, when Lich-Lord Lenvan fell!"
        [/message]
        [message]
            speaker=Minister Edren
            message= _ "I would advise against aligning with Shadow Magi, but I suppose we must set aside our differences in such troubling times."
        [/message]
        [message]
            speaker=Prince Haldric
            message= _ "The thought of facing a crazed lich in a dark cave does not feel at all pleasant, but I suppose risks must be taken if we are to survive the troubling times ahead."
        [/message]
        [message]
            speaker=Eravan
            message= _ "Let us press onwards, into the catacombs!"
        [/message]
        [if]
            [variable]
                name=have_lady
                numerical_equals=1
            [/variable]
            [then]
                [message]
                    speaker=Lady Outlaw
                    message= _ "Young Prince, while the lich-lords have betrayed us by allying themselves with that orcish scum, I can’t bring myself to fight against one of the greatest leaders of my people."
                [/message]
                [message]
                    speaker=Prince Haldric
                    message= _ "Lady, why would you let those monsters lead your people?"
                [/message]
                [message]
                    speaker=Lady Outlaw
                    message= _ "Haldric, we are an ancient people who lived in a land filled with all manner of man and beast. We needed vision that extended beyond the meager span of human years. The art of necromancy allowed our best and brightest to live forever, and our worst got to serve as mindless slaves."
                [/message]
                [message]
                    speaker=Lady Outlaw
                    message= _ "Other than losing our war in the far West, then our refugee war to your people, and this orc thing, it wasn’t such a bad deal. Lich-Lord Lenvan was one of our greatest leaders. He led our escape to this land. Albeit, after being down in that hole for so long I don’t imagine he’s too happy."
                [/message]
                [message]
                    speaker=Prince Haldric
                    message= _ "Have you considered the possibility that the unholy act of turning your best and brightest into undead is what causes them to fall into darkness?"
                [/message]
                [message]
                    speaker=Lady Outlaw
                    message= _ "We should save the debate for later. I can still be of use to you. I shall scout the road ahead. We need to know if we can make it to Southbay. I’ll return in a few days."
                [/message]
            [/then]
        [/if]

        [endlevel]
            result=victory
            {NEW_GOLD_CARRYOVER 100}
            carryover_report,linger_mode,replay_save=no,no,no
        [/endlevel]
    [/event]

    [event]
        name=victory
        [if]
            [variable]
                name=have_lady
                numerical_equals=1
            [/variable]
            [then]
                [store_unit]
                    [filter]
                        id=Lady Outlaw
                    [/filter]
                    variable=lady_store
                    kill=yes
                [/store_unit]
            [/then]
        [/if]
    [/event]
[/scenario]
