#textdomain wesnoth-trow
[scenario]
    id=09c_Cursed_Isle
    name= _ "Cursed Isle"
    next_scenario=09x_The_Kalian
    victory_when_enemies_defeated=no
    map_file=09c_Cursed_Isle.map

    {TURNS 30 25 20}
    {DEFAULT_SCHEDULE}

    {SCENARIO_MUSIC loyalists.ogg}
    {EXTRA_SCENARIO_MUSIC elvish-theme.ogg}

    # No story
    {TROW_GC_TRACK {JOURNEY_09C_NEW} }

    {TROW_DEATHS}

    [side]
        type=Noble Commander
        id=Prince Haldric
        name= _ "Prince Haldric"
        unrenamable=yes
        side=1
        canrecruit=yes
        {GOLD 150 125 100}        
        controller=human
        team_name=Haldric
        user_team_name=_ "Refugees"
        fog=yes
        {FLAG_VARIANT loyalist}
    [/side]

    [side]
        type=Familiar
        id=Familiar
        name= _ "Jevyan's Familiar"
		profile=portraits/familiar.webp
        side=2
        canrecruit=yes
        recruit=
        {GOLD 0 0 0}
        {INCOME 0 0 0}
        team_name=Undead
        user_team_name=_ "Undead"
        [ai]
            {NO_SCOUTS}
            aggression=0.25
            caution=0.75
            village_value=10
        [/ai]
    [/side]

    {STARTING_VILLAGES 2 0}

    {campaigns/The_Rise_Of_Wesnoth/utils/trow-nlmsg.cfg}

#define INITIAL_UNDEAD TYPE
    [unit]
        type={TYPE}
        side=2
        placement=leader
        animate=no
    [/unit]
#enddef

    [event]
        name=prestart

        [recall]
            id=Lady Jessene
        [/recall]
        [recall]
            id=Commander Aethyr
        [/recall]
        [recall]
            id=Tromas
        [/recall]
        [recall]
            id=Burin the Lost
        [/recall]
        [recall]
            id=Minister Edren
        [/recall]
        [recall]
            id=Sir Ladoc
        [/recall]
        [recall]
            id=Crelanu
        [/recall]

        {VARIABLE number_of_captured_villages 0}
        {VARIABLE crelanu_fog_lifted no}

#ifdef EASY
        {INITIAL_UNDEAD (Walking Corpse)}
		{INITIAL_UNDEAD (Walking Corpse)}
        {INITIAL_UNDEAD (Vampire Bat)}
#else
        {INITIAL_UNDEAD (Soulless)}
        {INITIAL_UNDEAD (Soulless)}
        {INITIAL_UNDEAD (Blood Bat)}
#endif

#ifdef HARD
        {INITIAL_UNDEAD (Dread Bat)}
#endif

        [objectives]
            side=1

            [objective]
                description= _ "Destroy the Familiar"
                condition=win
            [/objective]

            [objective]
                description= _ "Stop the Familiar from raising the dead in 5 villages"
                condition=lose
            [/objective]

            [objective]
                description= _ "Death of Prince Haldric"
                condition=lose
            [/objective]

            [objective]
                description= _ "Death of Lady Jessene"
                condition=lose
            [/objective]

            {TURNS_RUN_OUT}

            [gold_carryover]
                bonus=yes
                carryover_percentage=40
            [/gold_carryover]

            [note]
                description= _ "Villages corrupted: $number_of_captured_villages / 5"
            [/note]
        [/objectives]
    [/event]

    [event]
        name=start

        [message]
            speaker=narrator
            message= _ "After a short trip by sea, Haldric arrives on the elves' cursed Isle of Tears. A fog hangs in the air."
            image=wesnoth-icon.png
        [/message]

        [message]
            speaker=Burin the Lost
            message= _ "I said no more ships. Double-crossing humans! Ahh, I've been with you this far. Who'd have thought, a nautical dwarf."
            image=portraits/burin-annoyed.webp
        [/message]

        [message]
            speaker=Prince Haldric
            message= _ "I expect we'll be facing more undead. Be careful."
        [/message]

        [message]
            speaker=Lady Jessene
            message= _ "These will be the long dead. Not like the undead that my people used, and they are elf-dead. Be careful indeed."
        [/message]

        [message]
            speaker=Minister Edren
            message= _ "All soldiers of darkness will meet the same fate by my hand."
        [/message]
    [/event]

    # Crelanu dispels the magical fog after five turns if he has survived.
    [event]
        name=turn 5

        [if]
            [have_unit]
                id=Crelanu
            [/have_unit]
            [then]
                [message]
                    speaker=Crelanu
                    message= _ "This fog is more than a natural mist. Something has woven magic through it."
                [/message]

                [message]
                    speaker=Crelanu
                    message= _ "Give me a moment. I believe I can dispel it."
                [/message]

                [sound]
                    name=magic-dark.ogg
                [/sound]

                [lift_fog]
                    side=1
                    multiturn=yes
                    x=1-40
                    y=1-40
                [/lift_fog]

                {VARIABLE crelanu_fog_lifted yes}

                [message]
                    speaker=Crelanu
                    message= _ "There. The veil has been broken. We should be able to see the island clearly now."
                [/message]
            [/then]
        [/if]
    [/event]

    # The Familiar is the only unit capable of raising undead from villages.
    [event]
        name=capture
        first_time_only=no

        [filter]
            id=Familiar
        [/filter]

        [sound]
            name=magic-dark.ogg
        [/sound]

        {VARIABLE_OP number_of_captured_villages add 1}

#ifdef EASY
        {GENERIC_UNIT 2 (Skeleton) $x1 $y1}
		{GENERIC_UNIT 2 (Skeleton Archer) $x1 $y1}
#else        
        {GENERIC_UNIT 2 (Revenant) $x1 $y1}
#endif

#ifdef HARD
		{GENERIC_UNIT 2 (Ghost) $x1 $y1}
#endif

        [if]
            [variable]
                name=number_of_captured_villages
                numerical_equals=1
            [/variable]
            [then]
                [message]
                    speaker=Prince Haldric
                    message= _ "The Familiar is raising the dead from the villages! We must find it before it can complete whatever it is planning."
                [/message]
            [/then]
        [/if]

        [if]
            [variable]
                name=number_of_captured_villages
                numerical_equals=3
            [/variable]
            [then]
                [message]
                    speaker=Minister Edren
                    message= _ "This is no mere haunting. That creature is building an army."
                [/message]
            [/then]
        [/if]

        [if]
            [variable]
                name=number_of_captured_villages
                numerical_equals=5
            [/variable]
            [then]
                [message]
                    speaker=Prince Haldric
                    message= _ "No! It has raised too many of the dead. We must flee before this army grows beyond our power to stop it!"
                [/message]

                [endlevel]
                    result=defeat
                [/endlevel]
            [/then]
        [/if]

        [show_objectives]
        [/show_objectives]
    [/event]

    [event]
        name=victory

        [message]
            speaker=Prince Haldric
            message= _ "The Familiar is destroyed. Whatever Jevyan intended to raise on this island will trouble us no longer."
        [/message]

        [message]
            speaker=Lady Jessene
            message= _ "Then let us hope we have stopped whatever curse this island was meant to send against us."
        [/message]

        {VARIABLE_OP num_done add 1}

        [set_variable]
            name=cursed_isle
            value=1
        [/set_variable]

        [set_variable]
            name=last_done
            value="Isle"
        [/set_variable]
    [/event]

    [event]
        name=last breath

        [filter]
            id=Familiar
        [/filter]

        [message]
            speaker=Familiar
            message= _ "You have undone the work of my master..."
        [/message]
    [/event]

    [event]
        name=die

        [filter]
            id=Familiar
        [/filter]

        [message]
            speaker=Prince Haldric
            message= _ "It is done. The Familiar is no more."
        [/message]

        [kill]
            side=2
            fire_event=no
        [/kill]

        [endlevel]
            result=victory
            bonus=yes
            {NEW_GOLD_CARRYOVER 40}
        [/endlevel]
    [/event]

    [event]
        name=die

        [filter]
            race=undead
        [/filter]

        [filter_second]
            id=Minister Edren
        [/filter_second]

        [message]
            speaker=second_unit
            message= _ "Back, back to the grave with you!"
        [/message]
    [/event]

    [event]
        name=time over

        [message]
            speaker=Prince Haldric
            message= _ "No! The ship that was supposed to pick us up sees that there's still fighting. It's not stopping. We're trapped."
            image=portraits/haldric-surprised.webp
        [/message]
    [/event]

[/scenario]

#undef INITIAL_UNDEAD