#textdomain wesnoth-trow

#I'm putting TROW's common Macros in here.
#This should make my WML a little more sane
#So Far:
#LOOT
#GUARD_UNIT
#HERO
#UNDEAD_INTEL
#RISE_UP_RISE_UP

#define HERO TYPE ID_STRING NAME_STRING SIDE X Y PROFILE
    [unit]
        type={TYPE}
        id={ID_STRING}
        name={NAME_STRING}
        profile={PROFILE}
        side={SIDE}
        x={X}
        y={Y}
        unrenamable=yes
        random_traits=no
        [modifications]
            {TRAIT_LOYAL_HERO}
        [/modifications]
    [/unit]
#enddef

#define GUARD_UNIT TYPE ID_STRING NAME_STRING SIDE X Y
    [unit]
        type={TYPE}
        id={ID_STRING}
        name={NAME_STRING}
        side={SIDE}
        x={X}
        y={Y}

        ai_special=guardian

        [modifications]
            {TRAIT_LOYAL}
        [/modifications]
    [/unit]
#enddef

#define UNDEAD_INTEL TYPE ID_STRING NAME_STRING PROFILE SIDE X Y
    [unit]
        type={TYPE}
        id={ID_STRING}
        name={NAME_STRING}
        profile={PROFILE}
        side={SIDE}
        x={X}
        y={Y}
        [modifications]
            {TRAIT_UNDEAD}
            {TRAIT_LOYAL}
        [/modifications]
    [/unit]
#enddef

#define LIVING_INTEL TYPE ID_STRING NAME_STRING PROFILE SIDE X Y
    [unit]
        type={TYPE}
        id={ID_STRING}
        name={NAME_STRING}
        profile={PROFILE}
        side={SIDE}
        x={X}
        y={Y}
        random_traits=no
        [modifications]
            {TRAIT_LOYAL}
        [/modifications]
    [/unit]
#enddef

#define RISE_UP_RISE_UP
    [unit]
        name= _ "A Former Friend"
        type={ON_DIFFICULTY "Walking Corpse" "Walking Corpse" "Soulless"}
        side=2
        x=$x1
        y=$y1
        placement=map
        overwrite=yes
        moves=0
        attacks_left=0
        variation=$unit.undead_variation
        animate=yes
        [modifications]
            {TRAIT_LOYAL}
        [/modifications]
    [/unit]
#enddef

#define HITPOINTS HP
    [+unit]
        hitpoints={HP}
    [/unit]
#enddef

#define EXPERIENCE XP
    [+unit]
        experience={XP}
    [/unit]
#enddef

#define DELAY TIME
    [delay]
        time={TIME}
    [/delay]
#enddef

#weather effects from TLU, by inferno8
#define RAIN
    [terrain_graphics]
        map="
1
,1
1
,1"
        [tile]
            pos=1
            set_flag=rain
            no_flag=rain
        [/tile]
        [image]
            layer=1
            name=rain/rain-1.png~O(0.5):100,rain/rain-2.png~O(0.5):100,rain/rain-3.png~O(0.5):100,rain/rain-4.png~O(0.5):100,rain/rain-5.png~O(0.5):100
            random_start=yes
        [/image]
    [/terrain_graphics]
    [terrain_graphics]
        [tile]
            x=0
            y=0
            set_flag=rain
            no_flag=rain
        [/tile]
        [image]
            layer=1
            name=rain/rain-1.png~O(0.5):100,rain/rain-2.png~O(0.5):100,rain/rain-3.pngv:100,rain/rain-4.png~O(0.5):100,rain/rain-5.png~O(0.5):100 # that "pngv" is not a typo. I don't know what it does
            random_start=yes
        [/image]
    [/terrain_graphics]
    [sound_source]
        id=rain
        sounds="weather-rain.ogg"
        delay=0
        chance=100
        loop=-1
        x,y=1,1
        full_range=9999
        check_fogged=no
        check_shrouded=no
    [/sound_source]
#enddef

#define SNOW
    [terrain_graphics]
        [tile]
            x,y=0,0
        [/tile]
        [image]
            layer=1
            name=snow/SnowSlowR_[0~199].png~FL()~O(0.5):25
            random_start=yes
        [/image]
    [/terrain_graphics]
    [sound_source]
        id=snow
        sounds="weather-snow.ogg"
        delay=0
        chance=100
        loop=-1
        x,y=1,1
        full_range=9999
        check_fogged=no
        check_shrouded=no
    [/sound_source]
#enddef